<nav class="navbar navbar-expand-lg navbar-light bg-danger info">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">CHANEL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Jo Malone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Curology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Dior</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Chloe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">ZARA</a>
      </li>
    </ul>
  </div>
</nav>