
 a{
  border-radius: 30px;
  padding: 18px 60px;
}

.banner{
  background-image: url("../images/index1.jpg");
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}


.follow{
  background-image: url("../images/index10.jpg");
}



